.App {
  overflow: hidden;
}

.row {
  background-color: #b6b6b6;
  height: 250px;
  display: flex;
}

.year-divider {
  display: flex;
  align-items: center;
  background-color: #b6b6b6;  
}

.divider {
  flex-grow: 1;
  border-bottom: 3px dotted rgb(100, 100, 100);
}